
@import url('reset.css');
/*------------------------   standard elements  ----------------------------- */
body{
    margin: 0 5% 0 5%;
    background-color: #cccccc; /* Used if the image is unavailable */
}
article{
    padding: 2em;
}

img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.indexbox {
    background: rgba(204, 204, 204, 0.9);
    padding: 20px;
}

.formbox {
    background: rgba(204, 204, 204, 0.9);
    padding: 20px;
}

.tablesbox {
    background: rgba(204, 204, 204, 0.9);
    padding: 20px;
}





footer{
    clear: both;
}

h1, h2, h3, h4, h5, h6{
    padding: 1.5em 0 .8em 0;
    
}

header h1{
    padding-bottom: 2em;
    padding-top: 75px;
    font-size: -webkit-xxx-large;
    font-family: "helvetica", sans-serif;
    text-align: center;
    background-image: url("images/camelshump.jpg")
}




p{
    padding: 1em 0 1em 0;   
}
section{
    padding: 2em;
    width: 40%;  
}

/*------------------------   classes           ------------------------------ */



.float_right {
    float: right;
    margin-left: 1em;
}

.float_left {
    border: thin solid darkslategray;
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.small {
    width: 150px;
}

/*------------------------   nav section only  ------------------------------ */
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
}
    nav{
    text-align: center;
    padding: 20px;

}

nav a{
    color: black;
    text-decoration: none;
    font-size: larger;
    background: rgba(204, 204, 204, 0.9);
    padding: 2px;
}

/*------------------------   table page  only  ------------------------------ */
#table aside{
    height: 600px; 
    float: left; 
    overflow: auto; 
    margin-left: 2em;            
}
#table section{
    width: 35%; 
    height: 600px; 
    float: left; 
    overflow: auto;
}

#table th{
    text-align: left;
}

body p.noticeMe{
    background-color: #cc0033;
    color: wheat;
}